<h1>Coaching#answer</h1>
<p>This is present in the views / pages / answer.html.erb</p>
<%= @test %>

<%= @input %>
<%= link_to "Want to ask a new question ?", '/ask', to: "coaching#ask" %>

<p> <%= @result %> </p>
