<h1>Coaching#ask</h1>
<p>This is present in the views / pages / ask.html.erb</p>
<p>Please provide me the cedric majic answer !</p>

<form action="/answer">  <!-- je renvoie a cette page par après.. -->
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="input" placeholder="write text here">
  <input type="submit" value="Go on!">
</form>
